
# Make sure all the .h64 and .m64 files are recognized:
*.h64 linguist-language=Horse64
*.m64 linguist-language=Horse64 System

# Special non-code files:
docs/* linguist-documentation
vendor/* linguist-vendored

